body{
    margin: 0px;
    text-align: center;
    font-family: 'Philosopher', sans-serif;
}
hr{
    width:10%;
    
}
span{
    text-decoration: underline;
}
#intro{
    background-color: #ddf3f5;
    position: relative;
    padding-top: 10%;
    color: #66BFBF;
}
#intro h1{
    font-family: 'Tangerine', cursive;
    font-size: 3rem;
}
#intro h2{
    font-family: 'Philosopher', sans-serif;
    font-weight: normal;
}
#upper-cloud{
    top: 10%;
    width:15%;
    position: absolute;
    right: 20%;
}
#lower-cloud{
    position: absolute;
    left: 20%;
    width:15%;
}
#mountain{
    display: block;
    margin: 0 auto;
    width: 45%;
}
#description img{
    height:15%;
    width:15%;
    margin-top:3%;
}
#description h1{
    font-size: 2.5rem;
    color: #66BFBF;
}
#description p{
    line-height: 2;
    margin:0 20% 6% 20%;
}
#skills img{
    border-radius: 50%;
    float:left;
    width: 20%;
    margin-right:10%;
    margin-left: 10%;
}
#skills p{
    line-height: 2;
    margin: 0 10% 10% 0;
    display: block;
}
#skills h1{
    font-size: 2.5rem;
    color: #66BFBF;
}
.contact-me{
    margin-bottom: 5%;;
}
.contact-me h2{
    color: #66BFBF;
}
.contact-me h3{
    color: #66BFBF;
}
.btn {
       background: #3D94F6;
       background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
       background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
       background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
       background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
       background-image: linear-gradient(to bottom, #3D94F6, #1E62D0);
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
        border-radius: 20px;
       color: #FFFFFF;
       font-family: Open Sans;
        font-size: 1rem;
        font-weight: 100;
        padding: 20px;
        box-shadow: 1px 1px 20px 0px #000000;
        -webkit-box-shadow: 1px 1px 20px 0px #000000;
        -moz-box-shadow: 1px 1px 20px 0px #000000;
        text-shadow: 1px 1px 20px #000000;
        border: solid #337FED 1px;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
        text-align: center;
        margin:5%;
    }
    
    .btn:hover {
       border: solid #337FED 1px;
       background: #1E62D0;
       background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
       background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
       background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
       background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
       background-image: linear-gradient(to bottom, #1E62D0, #3D94F6);
       -webkit-border-radius: 20px;
       -moz-border-radius: 20px;
       border-radius: 20px;
       text-decoration: none; 
    }
    .bottom-container{
        background-color: #66BFBF; 
        margin-bottom: -3%;
    }
    .footer-link{
        text-decoration: none;
        color: #11999E;
        font-size: 1.5rem;
        display:inline-block;
        margin:5% 2%;
    }
    .bottom-container p{
        color: #EAF6F6;
        padding-bottom:5%;
    }
