body{
    margin: 0px;
    text-align: center;
    font-family: 'Philosopher', sans-serif;
}
span{
    text-decoration: underline;
}
#intro{
    background-color: #ddf3f5;
    position: relative;
    padding-top: 10%;
    color: #66BFBF;
}
#intro h1{
    font-family: 'Tangerine', cursive;
    font-size: 3rem;
}
#intro h2{
    font-family: 'Philosopher', sans-serif;
    font-weight: normal;
}
#upper-cloud{
    top: 10%;
    position: absolute;
    right: 20%;
}
#lower-cloud{
    position: absolute;
    left: 20%;
}
#mountain{
    display: block;
    margin: 0 auto;
    width: 45%;
}
#mypic{
    height:25%;
    width:25%;
}
.description h1{
    font-size: 2.5rem;
}
.description p{
    font-size: 3rem;
    line-height: 2;
}
#skills img{
    border-radius: 50%;
    float:left;
    width: 20%;
    margin-right:10%;
    margin-left: 10%;
}
#skills p{
    line-height: 2;
    margin: 0 10% 10% 0;
    display: block;
}
#skills h1{
    font-size: 2.5rem;
}
